<h1>Welcome to My Rails Blog</h1>
<h3>Check out these amazing articles we've selected for you! </h3>

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'New Article', new_article_path, class: 'btn btn-success' %>
